.accordion {
    margin-top: 10%;
    margin-bottom: 10%;
}

#title {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

body {
    margin-bottom: 5%;
}

.accordion-body {
    text-align: left;
}

.accordion-body > ul {
    margin-bottom: 0;
    margin-top: 0;
}